@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600|Open+Sans:300,400,600|Ubuntu:300,400,500|Assistant:200,300,400|Yantramanav:700,300,400');

body {
  padding: 0;
  margin: 0;
}


/* start - project bild */
.selektor {
  background-image: url(../images/a_app.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center top;
  height: 19vh;
  width: 100%;
  background-repeat: no-repeat;
}

/* Cross browser solution for fixed full background image (incl. iOS) */
body {
  position: relative;
}

@media only screen and (max-width:375px) {
      .selektor {
        height: 100vh;
        background-attachment: scroll;
      }
}

@media only screen and (max-width:375px) {
      .selektorunterseiten {
        background-attachment: scroll;
      }
}

.pfeil {
  position: fixed;
  left: calc(50% - 20px);
  top: 80vh;
  z-index: 1;
}

@media only screen and (max-width:1367px) {
      .pfeil {
        top: 80vh;
      }
}

@media only screen and (max-width:375px) {
      .pfeil {
        top: 75vh;
        left: calc(50% - 14px);
        height: 13px;
        width: 28px;
        position: relative;
      }
}

@media only screen and (min-width:376px) and (max-width:414px) {
      .pfeil {
        top: 75vh;
        left: calc(50% - 14px);
        height: 13px;
        width: 28px;
        position: relative;
        position: fixed;
      }
}

.pfeil:hover {
  opacity: 0.6;
}

@media only screen and (max-width:375px) {
      .pfeil:hover {
        opacity: 1;
      }
}

@media only screen and (min-width:376px) and (max-width:414px) {
      .pfeil:hover {
        opacity: 1;
      }
}
/* intro END*/


/* hamburgermenu */
.header {
  box-sizing: border-box;
  padding: 60px 60px;
  width: 100%;
  position: fixed;
  z-index: 10;
}

@media only screen and (max-width:375px) {
      .header {
        padding: 5px 5px 5px 5px;
      }
}

@media only screen and (min-width:376px) and (max-width:414px) {
      .header {
        padding: 40px 10px 5px 10px;
      }
}

.logo {
  float: left;
}

.navbar {
  float: right;
  padding: 0;
}

.main-nav {
  margin-right: 50px;
  position: relative;
}

.change .main-nav {
  margin-right: 30px;
}

@media only screen and (max-width:375px) {
      .main-nav {
        margin-right: 50px;
      }

      .change .main-nav {
        margin-right: 50px;
      }
}

@media only screen and (max-width:414px) {
      .main-nav {
        margin-right: 50px;
      }

      .change .main-nav {
        margin-right: 50px;
      }
}


.nav {
  display: block;
  cursor: pointer;
  width: auto;
  padding: 0;
  transition: 0.4s;
  margin-right: 0;
  margin-left: 280px;
  position: absolute;
}

@media only screen and (max-width:375px) {
      .nav {
        margin-left: 320px;
      }
}

@media only screen and (max-width:414px) {
      .nav {
        margin-left: 320px;
      }
}

.change .nav {
  width: auto;
  padding: 0;
  transition: 0.4s;
  margin-left: 310px;
}

@media only screen and (max-width:375px) {
      .change .nav {
        margin-left: 320px;
      }
}

@media only screen and (max-width:414px) {
      .change .nav {
        margin-left: 320px;
      }
}

.nav:hover .bar2 {
  width: 35px;
}

@media only screen and (max-width:375px) {
      .nav:hover .bar2 {
        width: 25px;
      }
}

@media only screen and (max-width:414px) {
      .nav:hover .bar2 {
        width: 25px;
      }
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 20px;
}

@media only screen and (max-width:375px) {
      .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3px;
        margin: 4px 0;
      }
}

@media only screen and (max-width:414px) {
      .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3px;
        margin: 4px 0;
      }
}

.bar2 {
  width: 25px;
}

@media only screen and (max-width:375px) {
      .bar2 {
        width: 18px;
      }
}

@media only screen and (max-width:414px) {
      .bar2 {
        width: 18px;
      }
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 7px) ;
  transform: rotate(-45deg) translate(-7px, 7px) ;
}

@media only screen and (max-width:375px) {
      .change .bar1 {
        -webkit-transform: rotate(45deg) translate(-7px, 7px) ;
        transform: rotate(-45deg) translate(-7px, 5px) ;
      }
}

@media only screen and (max-width:414px) {
      .change .bar1 {
        -webkit-transform: rotate(45deg) translate(-7px, 7px) ;
        transform: rotate(-45deg) translate(-7px, 5px) ;
      }
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -7px) ;
}

@media only screen and (max-width:375px) {
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-5px, -3px) ;
      }
}

@media only screen and (max-width:414px) {
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-5px, -3px) ;
      }
}
/* hamburgermenu ENDE */


/* hamburgermenu open */
ul {
  margin: 0;
  padding: 0;
  width: auto;
}

li {
  display: inline;
  list-style-type: none;
  font-family: 'Ubuntu';
  font-weight: 300;
  line-height: 42px;
  font-size: 18px;
  margin: 0 30px 0 0;
  visibility: hidden;
}

.change li {
  visibility: visible;
  transition: 0.8s ease;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 0.6);
}
/* hamburgermenu open END*/


/* hamburgermenu changing color when scrolling */
.scrolled-nav .bar1 {
  background-color: rgba(61, 65, 73, 1);
}

.scrolled-nav .bar2 {
  background-color: rgba(61, 65, 73, 1);
}

.scrolled-nav .bar3 {
  background-color: rgba(61, 65, 73, 1);
}

.scrolled-main-nav a {
  color: rgba(61, 65, 73, 1);
}

.scrolled-main-nav a:hover {
  color: rgba(61, 65, 73, 0.7);
}

.scrolled h5 {
  opacity: 0;
}
/* hamburgermenu changing color when scrolling END */


/* headlines, paragraphen */
h1 {
  color: rgba(61, 65, 73, 1);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 34px;
  text-align: center;
  margin-bottom: 30px;
}

@media only screen and (max-width:1367px) {
      h1 {
        margin-bottom: 30px;
      }
}

@media only screen and (max-width:375px) {
      h1 {
        font-size: 22px;
        line-height: 28px;
        float: left;
        padding-right: 20px;
        padding-left: 20px;
      }
}

@media only screen and (min-width:376px) and (max-width:414px) {
      h1 {
        font-size: 24px;
        line-height: 28px;
        float: left;
        padding-right: 20px;
        padding-left: 20px;
      }
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
  padding-left: 40px;
  padding-top: 43%;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.2s ease;
}

p {
  color: rgba(61, 65, 73, 1);
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  margin-bottom: 24px;
}

@media only screen and (max-width:1367px) {
      p {
        font-size: 16px;
        line-height: 21px;
        padding: 0;
        margin-bottom: 15px;
      }
}

@media only screen and (max-width:375px) {
      p {
        padding-right: 20px;
        padding-left: 20px;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
        float: left;
      }
}

@media only screen and (min-width:376px) and (max-width:414px) {
      p {
        padding-right: 20px;
        padding-left: 20px;
        font-size: 18px;
        line-height: 23px;
        text-align: left;
        float: left;
      }
}

h5 {
  color: rgb(255, 255, 255);
  font-family: 'Ubuntu';
  font-weight: 300;
  line-height: 42px;
  font-size: 18px;
}

@media only screen and (max-width:375px) {
      h5 {
        font-size: 0;
      }
}

@media only screen and (min-width:376px) and (max-width:414px) {
      h5 {
        font-size: 0;
      }
}

@media only screen and (max-width:375px) {
      .back-button h5 {
        font-size: 18px;
      }
}

@media only screen and (min-width:376px) and (max-width:414px) {
      .back-button h5 {
        font-size: 18px;
      }
}
/* headlines, paragraphen END*/


/* about */
/* section hi,there. */
.Index-page {
  position: relative;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  display: block;
  z-index: 2;
}

.Index-page-content {
  box-sizing: border-box;
  padding: 120px 320px;
}

@media only screen and (max-width:1367px) {
      .Index-page-content {
        padding: 120px 320px;
      }
}

@media only screen and (max-width:375px) {
      .Index-page-content {
        padding: 50px 20px;
      }
}

@media only screen and (min-width:376px) and (max-width:414px) {
      .Index-page-content {
        padding: 50px 20px;
      }
}
/* section hi,there. END*/


.bordersolid {
  margin-left: 44.5%;
  position: relative;
}

@media only screen and (max-width:1367px) {
      .bordersolid {
        position: relative;
      }
}

@media only screen and (max-width:375px) {
      .bordersolid {
        height: 100px;
        margin: 0;
        padding: 0;
        width: 3px;
        background-color: rgba(232, 112, 94, 1);
        margin-left: 31%;
        position: relative;
      }
}

@media only screen and (min-width:376px) and (max-width:414px) {
      .bordersolid {
        height: 100px;
        margin: 0;
        padding: 0;
        width: 3px;
        background-color: rgba(232, 112, 94, 1);
        margin-left: 31%;
        position: relative;
      }
}

#col2 {
  height: 60px;
}

@media only screen and (max-width:375px) {
      #col2 {
        height: 30px;
      }
}

@media only screen and (min-width:376px) and (max-width:414px) {
      #col2 {
        height: 30px;
      }
}

#col3 {
  height: 140px;
}

.blablabla {
  padding: 80px;
}


/* work */
/* work grid responsive*/
.flex-grid {
	display: flex;
	flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 3;
  background-color: white;
}

@media only screen and (max-width:1367px) {
      .flex-grid {
        margin-left: 10%;
        margin-right: 10%;
      }
}

@media only screen and (max-width:375px) {
      .flex-grid {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20px;
      }
}

.flex-grid-item {
	width: 100%;
  height: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 33.3333%;
	flex-basis: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width:1367px) {
      .flex-grid-item {
        flex-basis: 300px;
      }
}

.blank {
	height: 0;
}
/* work grid responsive END*/


/* work grid headlines */
.headline {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;

}
/* work grid headlines END*/


/* work grid zoom hover */
.headline img {
  max-width: 100%;
  transition: all 0.6s ease;
}


.flex-grid-item:hover img {
/* translate:scale(1.1) skalieren bei hover  */
}

.pfeilheader {
  position: absolute;
  margin-left: 40px;
  margin-top: 61%;
  opacity: 0;
  transition: all 0.2s ease;
}

@media only screen and (max-width:1367px) {
      .pfeilheader {
        margin-left: 40px;
        margin-top: 61%;
      }
}

.headline:hover .pfeilheader {
  opacity: 1;
  transition: all 0.5s ease;
  margin-top: 51%;
}

@media only screen and (max-width:1367px) {
      .headline:hover .pfeilheader {
        margin-top: 51%;
      }
}

.headline p {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  padding-left: 40px;
  padding-top: 43%;
  margin: 0;
  position: absolute;
  opacity: 0;
  transition: all 0.2s ease;
}

@media only screen and (max-width:1367px) {
      .headline p {
        font-size: 18px;
        font-weight: 300;
        padding-left: 40px;
        padding-top: 43%;
      }
}

.headline:hover p {
  color: rgba(61, 65, 73, 1);
  transition: all 0.7s ease;
  opacity: 1;
}

@media only screen and (max-width:1367px) {
      .headline h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        padding-left: 40px;
        padding-top: 43%;
      }
}

.headline:hover h2 {
  opacity: 1;
  transition: all 0.2s ease;
  color: rgba(61, 65, 73, 1);
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 36%;
  opacity: 1;
}

@media only screen and (max-width:1366px) {
      .headline:hover h2 {
        padding-top: 36%;
      }
}

@media only screen and (max-width:376px) {
      .headline:hover h2 {
        padding-top: 35.8%;
      }
}
/* work grid zoom hover END*/


/* contact */
.Index-page-contact {
  position: relative;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  display: block;
  z-index: 2;
}

.Index-page-content-contact {
  box-sizing: border-box;
  padding: 150px 100px 120px 100px;
}


/* icon hover */
.instagram {
  position: relative;
  margin-left: calc(50% - 20px);
  margin-top: 50px;
}

@media only screen and (max-width:1366px) {
      .instagram {
        margin-top: 50px;
      }
}

@media only screen and (max-width:375px) {
      .instagram {
        margin-top: 200px;
      }
}

@media only screen and (min-width:376px) and (max-width:414px) {
      .instagram {
        margin-top: 200px;
      }
}

.instagram:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media only screen and (max-width:375px) {
      .instagram:hover {
        opacity: 1;
      }
}
/*Icon Hover END*/


.sendmail {
  position: absolute;
  width: 250px;
  height: auto;
  background: transparent;
  margin-top: 50px;
  padding: 10px;
  left: 50%;
  margin-left: -125px;
  border-color: rgba(61, 65, 73, 1);
  border-width: 2.4px;
  border-style: solid;
}

.sendmail p {
  margin: 0;
}

@media only screen and (max-width:375px) {
      .sendmail {
        width: 200px;
        text-align: center;
        height: 30px;
      }
}
