@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600|Open+Sans:300,400,600|Ubuntu:300,400,500|Assistant:200,300,400|Yantramanav:700,300,400');

body {
  padding: 0;
  margin: 0;
}


/* home */
/* intro */
.selektor {
  background-image: url(../images/forest2.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  background-position: center;
  height: 100vh;
  width: auto;
}

.pfeil {
  position: fixed;
  left: 48%;
  top: 80vh;
  z-index: 1;
}

@media only screen and (max-width:1367px) {
      .pfeil {
        top: 80vh;
      }
}

@media only screen and (max-width:376px) {
      .pfeil {
        top: 85vh;
        left: 46%;
        height: 13px;
        width: 28px;
      }
}

.pfeil:hover {
  opacity: 0.6;
}
/* intro END*/


/* hamburgermenu */
.header {
  box-sizing: border-box;
  padding: 60px 60px;
  width: 100%;
  position: fixed;
  z-index: 10;
}

@media only screen and (max-width:376px) {
      .header {
        padding: 30px 5px 5px 5px;
      }
}

.logo {
  float: left;
}

.navbar {
  float: right;
  padding: 0;
}

.main-nav {
  margin-right: 50px;
  position: relative;
}

.change .main-nav {
  margin-right: 30px;
}

@media only screen and (max-width:376px) {
      .main-nav {
        margin-right: 50px;
      }

      .change .main-nav {
        margin-right: 50px;
      }
}

.nav {
  display: block;
  cursor: pointer;
  width: auto;
  padding: 0;
  transition: 0.4s;
  margin-right: 0;
  margin-left: 280px;
  position: absolute;
}

@media only screen and (max-width:376px) {
      .nav {
        margin-left: 320px;
      }
}

.change .nav {
  width: auto;
  padding: 0;
  transition: 0.4s;
  margin-left: 310px;
}

@media only screen and (max-width:376px) {
      .change .nav {
        margin-left: 320px;
      }
}

.nav:hover .bar2 {
  width: 35px;
}

@media only screen and (max-width:376px) {
      .nav:hover .bar2 {
        width: 25px;
      }
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 20px;
}

@media only screen and (max-width:376px) {
      .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3px;
        margin: 4px 0;
      }
}

.bar2 {
  width: 25px;
}

@media only screen and (max-width:376px) {
      .bar2 {
        width: 18px;
      }
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 7px) ;
  transform: rotate(-45deg) translate(-7px, 7px) ;
}

@media only screen and (max-width:376px) {
      .change .bar1 {
        -webkit-transform: rotate(45deg) translate(-7px, 7px) ;
        transform: rotate(-45deg) translate(-7px, 5px) ;
      }
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -7px) ;
}

@media only screen and (max-width:376px) {
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-5px, -3px) ;
      }
}
/* hamburgermenu ENDE */


/* hamburgermenu open */
ul {
  margin: 0;
  padding: 0;
  width: auto;
}

li {
  display: inline;
  list-style-type: none;
  font-family: 'Ubuntu';
  font-weight: 300;
  line-height: 42px;
  font-size: 18px;
  margin: 0 30px 0 0;
  visibility: hidden;
}

.change li {
  visibility: visible;
  transition: 0.8s ease;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 0.6);
}
/* hamburgermenu open END*/


/* hamburgermenu changing color when scrolling */
.scrolled-nav .bar1 {
  background-color: rgba(61, 65, 73, 1);
}

.scrolled-nav .bar2 {
  background-color: rgba(61, 65, 73, 1);
}

.scrolled-nav .bar3 {
  background-color: rgba(61, 65, 73, 1);
}

.scrolled-main-nav a {
  color: rgba(61, 65, 73, 1);
  font-weight: 400;
}

.scrolled-main-nav a:hover {
  color: rgba(61, 65, 73, 0.7);
}

.scrolled h5 {
  opacity: 0;
}
/* hamburgermenu changing color when scrolling END */


/* headlines, paragraphen */
h1 {
  color: rgba(61, 65, 73, 1);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 140px;
  line-height: 100px;
  text-align: right;
  padding-right: 50px;
}

@media only screen and (max-width:1367px) {
      h1 {
        font-size: 27px;
        line-height: 34px;
        text-align: center;
      }
}

@media only screen and (max-width:376px) {
      h1 {
        font-size: 22px;
        line-height: 28px;
        padding-right: 20px;
        text-align: center;
      }
}

h2 {
  color: white;
  font-family: 'Yantramanav', sans-serif;
  font-weight: bold;
  font-size: 70px;
  line-height: 0;
  text-align: left;
  padding-left: 30px;
  padding-top: 65px;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

h2:hover {
  opacity: 1;
  transition: .4s ease;
}

.h2 {
  color: white;
  font-family: 'Yantramanav', sans-serif;
  font-weight: bold;
  font-size: 70px;
  line-height: 20px;
  text-align: left;
  padding-left: 30px;
  padding-top: 70px;
  margin: 0;
  position: absolute;
}

.h2wlh {
  color: white;
  font-family: 'Yantramanav', sans-serif;
  font-weight: bold;
  font-size: 65px;
  line-height: 50px;
  text-align: left;
  padding-left: 30px;
  padding-top: 40px;
  margin: 0;
  position: absolute;
}

hr {
  border: 5px solid white;
  width: 30px;
  margin-left: 32px;
  margin-top: 30px;
  position: absolute;
}

p {
  color: rgba(61, 65, 73, 1);
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 0;
  margin-top: 24px;
  padding-left: 30px;
  padding-right: 200px;
}

@media only screen and (max-width:1367px) {
      p {
        font-size: 15px;
        text-align: center;
      }
}

@media only screen and (max-width:376px) {
      p {
        padding-right: 20px;
        padding-left: 20px;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
      }
}

h5 {
  color: rgb(255, 255, 255);
  font-family: 'Ubuntu';
  font-weight: 300;
  line-height: 42px;
  font-size: 18px;
}

@media only screen and (max-width:376px) {
      h5 {
        font-size: 0;
      }
}
/* headlines, paragraphen END*/


/* about */
/* section hi,there. */
.Index-page {
  position: relative;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  display: block;
  z-index: 2;
}

.Index-page-content {
  box-sizing: border-box;
  padding: 120px 100px;
}

@media only screen and (max-width:1367px) {
      .Index-page-content {
        padding-top: 80px;
      }
}

@media only screen and (max-width:376px) {
      .Index-page-content {
        padding: 50px 20px 50px 20px;
      }
}

.h-left {
  margin-bottom: 100px;
}



@media only screen and (max-width:376px) {
      .h-left {
        float: left;
        margin-left: 20px;
        margin-bottom: 0;
      }
}

.p-right {
  float: right;
}



@media only screen and (max-width:376px) {
      .p-right {
        width: auto;
        margin-bottom: 40px;
        text-align: left;
      }
}

/* section hi,there. END*/





#col1 {
  border-right: 2.5px solid;
  border-color: rgba(232, 112, 94, 1);
  height: 400px;
  margin-right: 100px;
}

@media only screen and (max-width:1367px) {
      #col1 {
        height: 250px;
        margin-right: 40px
      }
}

@media only screen and (max-width:376px) {
      #col1 {
        height: 100px;
        margin: 0;
        padding: 0;
      }
}

#col2 {
  height: 60px;
}

@media only screen and (max-width:376px) {
      #col2 {
        height: 30px;
      }
}

#col3 {
  height: 140px;
}

.blablabla {
  padding: 80px;
}


/* work */
/* work grid responsive*/
.flex-grid {
	display: flex;
	flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 3;
  background-color: white;
}

@media only screen and (max-width:376px) {
      .flex-grid {
        margin-left: 10%;
        margin-right: 10%;
      }
}

.flex-grid-item-left {
	width: 100%;
  height: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 33.3333%;
	flex-basis: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
  margin-left: 5%;
  position: relative;
}


.flex-grid-item-right {
	width: 100%;
  height: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 33.3333%;
	flex-basis: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
  margin-right: 5%;
}

.blank {
	height: 0;
}
/* work grid responsive END*/


/* work grid headlines */
.headline {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
/* work grid headlines END*/


/*image hover*/
.flex-grid-item-left:hover {
  margin-left: 0;
  margin-right: 5%;
  transition: .4s ease;
}

.flex-grid-item-right:hover {
  margin-left: 5%;
  margin-right: 0;
  transition: .4s ease;
}
/*image hover END*/


/* contact */
.Index-page-contact {
  position: relative;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  display: block;
  z-index: 2;
}

.Index-page-content-contact {
  box-sizing: border-box;
  padding: 150px 100px 120px 100px;
}

.sendmail {
  text-align: center;
  margin: 20px 70px;
  padding: 3%;
  border: solid 2px rgba(0, 0, 0, 0.7);
  border-radius: 2px;
}



/* icon hover */
.instagram {
  margin-left: 42%;
  margin-top: 100px;
}

.instagram:hover {
  opacity: 0.6;
  cursor: pointer;
}
/*Icon Hover END*/






.flex-grid-item {
	width: 100%;
  height: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 33.3333%;
	flex-basis: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
  position: relative;
}


@media only screen and (max-width:1367px) {
      .flex-grid-item {
        flex-basis: 250px;
      }
}
